<div class="message-input-container">
    <textarea #message class="text--regular" maxlength="2000" type="textarea"
        placeholder="Nachricht an....."></textarea>
    <div class="message-buttons-container">
        <div class="action-icons">
            <app-emoji-picker></app-emoji-picker>
            <button class="icon-btn" type="button" aria-label="Sentiment">
                <img class="icon-btn__img" src="/chat-input/alternate-email.svg" alt="" />
            </button>
        </div>
        <img (click)="sendMessage(message)" class="send-btn" src="/chat-input/send.svg"
            alt="Senden" />
    </div>
</div>