<div class="message-input-container">
    <textarea #message class="text--regular" maxlength="2000" type="textarea" placeholder="Nachricht an....."></textarea>
    <div class="message-buttons-container">
        <div class="action-icons">
            <button class="icon-btn" type="button" aria-label="Sentiment">
                <img class="icon-btn__img" src="/chat-input/sentiment-satisfied.svg" alt="" />
            </button>
            <button class="icon-btn" type="button" aria-label="Sentiment">
                <img class="icon-btn__img" src="/chat-input/alternate-email.svg" alt="" />
            </button>
        </div>
        <img (click)="this.chatService.sendMessage(message.value)" class="send-btn" src="/chat-input/send.svg" alt="Suche" />
    </div>
</div>