.main-chat {
    flex-direction: column;
    display: flex;
    background-color: var(--color-white);
    border-radius: 30px;
    position: relative;
    height: calc(100vh - 110px);
}

.main-chat__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px 30px 0px 0px;
    padding: 32px 24px;
    box-shadow: 0px 2px 10px 0px color-mix(in srgb, var(--color-black), transparent 92%);
}

app-message-list {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-top: 21px;
}
