<div class="main-container">
  <header>
    <div class="backdrop" [class.show]="isProfileMenuOpen" (click)="isProfileMenuOpen=false"></div>
    <div class="header-left">
      <img src="/shared/dabubble-logo.svg" alt="DABubble Logo" class="logo"/>
      <h2 class="logo-text">DABubble</h2>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Devspace durchsuchen"/>
      <img src="/main-page/search.svg" alt="Suche"/>
    </div>

    <div class="user-profile" [class.open]="isProfileMenuOpen">
      <span class="user-name">Frederik Beck</span>
      <img src="/shared/profile-pics/profile-pic1.svg" alt="Profilbild" class="avatar"/>
      <span class="status status--online" aria-hidden="true"></span>
      <img src="/main-page/keyboard_arrow_down.svg" alt="Menu" class="dropdown-arrow" (click)="toggleProfileMenu()"/>
    
      <div class="profile-menu">
        <div>Profil</div>
        <div class="hover">Log out</div>
      </div>
    </div>
  </header>

  <div class="layout" [class.layout--sidebar-closed]="!isSidebarOpen">
    <button class="sidebar-toggle" type="button" (click)="toggleSidebar()" [attr.aria-expanded]="isSidebarOpen" aria-label="Workspace-Menü öffnen/schließen">
      <span class="sidebar-toggle__text">
        Workspace-Menü {{ isSidebarOpen ? 'schließen' : 'öffnen' }}
      </span>

      <img class="sidebar-toggle__icon" [class.sidebar-toggle__icon--closed]="!isSidebarOpen" src="/main-page/Group 2.svg" alt=""/></button>

    <div class="sidebar-wrapper" [class.sidebar-wrapper--closed]="!isSidebarOpen">
      <app-sidebar></app-sidebar>
    </div>

    <div class="main-chat">
      <app-message-composer></app-message-composer>
    </div>

    <app-thread-panel></app-thread-panel>
  </div>
</div>