@import "../login/login.scss";

.card-header {
    gap: 1rem;
    margin-bottom: 40px;
}

.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;

    >h2 {
        margin: 0 auto;
    }
}

.infotext {
    color: var(--color-text-grey);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.login-form {
    gap: 40px;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.success-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.img-wrapper {
    width: 24px;
    height: 24px;

    >img {
        width: 100%;
        height: auto;
    }

}