<header>
    <div class="backdrop" [class.show]="isProfileMenuOpen" (click)="isProfileMenuOpen=false"></div>
    <div class="header-left">
        <img src="/shared/dabubble-logo.svg" alt="DABubble Logo" class="logo" />
        <h2 class="logo-text">DABubble</h2>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Devspace durchsuchen" />
        <img src="/main-page/search.svg" alt="Suche" />
    </div>

    <div class="user-profile" [class.open]="isProfileMenuOpen" (click)="toggleProfileMenu()">
        <span class="user-name">Frederik Beck</span>
        <img src="/shared/profile-pics/profile-pic1.svg" alt="Profilbild" class="avatar" />
        <span class="status status--online" aria-hidden="true"></span>
        <img src="/main-page/keyboard_arrow_down.svg" alt="Menu" class="dropdown-arrow" />

        <div class="profile-menu">
            <div>Profil</div>
            <div class="hover">Log out</div>
        </div>
    </div>
</header>