header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    gap: 45px;
    white-space: nowrap;

    .hover {
        cursor: pointer;
        transition: background-color var(--transition-fast) ease, color var(--transition-fast) ease;
        border-radius: 99px;

        &:hover {
            background-color: var(--color-background);
            color: var(--color-purple1);
        }
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 15px;

        h2 {
            font-weight: 800;
            color: var(--color-black);
        }

        img {
            width: 50px;
        }
    }

    .search-bar {
        background: var(--color-white);
        width: 60%;
        border-radius: 99px;
        padding: 16px 20px;
        display: flex;
        align-items: center;

        input {
            width: 100%;
            outline: none;
            font-size: 1.1rem;
            background: transparent;
        }
    }

    .user-profile {
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        span {
            font-weight: 700;
            color: var(--color-black);
            font-size: 32px;
        }

        img.dropdown-arrow {
            width: 30px;
            height: 30px;
        }

        &:hover {
            span {
                color: var(--color-purple1);
            }

            img.dropdown-arrow {
                filter: brightness(0) saturate(100%) invert(25%) sepia(92%) saturate(2000%) hue-rotate(200deg) brightness(95%) contrast(105%);
            }
        }

        .status--offline,
        .status--online {
            right: 45px;
        }

        .profile-menu {
            display: none;
            position: absolute;
            top: calc(100% + 14px);
            right: 0;
            width: 280px;
            background: var(--color-white);
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            padding: 30px;
            box-shadow: 0 16px 40px rgba(0, 0, 0, 0.2);
            z-index: 101;
            flex-direction: column;
            gap: 10px;
            text-align: center;

            >div {
                font-size: 28px;
                font-weight: 400;
                color: var(--color-black);
                padding: 14px 16px;
                transition: background-color var(--transition-fast) ease, color var(--transition-fast) ease;
            }
        }

        &.open .profile-menu {
            display: block;
        }
    }
}