.position {
    display: flex;
    height: 100vh;
    align-items: safe center;
    position: relative;
}

.logo-wrapper {
    position: absolute;
    top: 25px;
    left: 16px;
    display: flex;
    flex-direction: row;
    gap: 15px;

    >h2 {
        font-weight: 800;
        color: var(--color-black);
    }

    >img {
        width: 50px;
        height: auto;
    }
}

h2,
h3,
h4,
a {
    word-break: break-all;
    text-wrap-mode: wrap;
}

p,
li {
    text-wrap-mode: wrap;
}



h3 {
    color: var(--color-purple1);
}

h4 {
    color: var(--color-purple1);
}

main {
    background-color: var(--color-white);
    margin: 100px 16px;
    padding: 48px 56px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 2px 10px color-mix(in srgb, var(--color-black), transparent 92%);
}

@media screen and (max-width: 500px) {
    main {
        padding: 32px 16px;
        border-radius: unset;
        margin: unset;
        margin-top: 100px;
    }
}