.message-input-container {
    min-height: 145px;
    position: relative;
    width: 100%;
    outline: 1px solid var(--color-light-purple-lines);
    border-radius: 20px;
    padding: 20px 20px 60px 20px;
    max-height: 300px;
    textarea {
        outline: none;
        min-width: 100%;
        max-width: 100%;
        field-sizing: content;
        resize: none;
        max-height: 200px;
    }
    &:hover {
        outline: 1px solid var(--color-purple2);
        cursor: pointer;
    }
    &:focus {
        outline: 1px solid var(--color-purple1);
        cursor: text;
    }
    .message-buttons-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        right: 20px;
        left: 20px;
        .send-btn {
            transition: filter var(--transition-fast);
            &:hover {
                filter: brightness(1.25) saturate(0.85) contrast(0.95) hue-rotate(3deg);
                scale: 1.1;
            }
            &:active {
                scale: 1.0;
            }
        }
    }
}

.action-icons {
    width: 85px;
    display: flex;
    justify-content: space-around;
}

.icon-btn {
    &:active {
        background: transparent;
        scale: 1;
        .icon-btn__img {
            filter: brightness(100%);
        }
    }
}
