.intro-header {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 0 80px; 
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    pointer-events: none; 
    > * {
        pointer-events: all; 
    }
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 16px;
    
    img {
        height: 70px;
        width: auto;
    }

    .logo-text {
        font-size: 32px;
        font-weight: 700;
        color: var(--color-black);
    }
}

.signup-call {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 8px;
    
    a {
        color: var(--color-purple1);
        text-decoration: none;
        
        &:hover {
            color: var(--color-purple2);
        }
    }
}
.login-card {
    background-color: var(--color-white);
    padding: 45px 50px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.card-header {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: var(--color-purple1);
        font-size: 46px; 
        font-weight: 700;
        margin: 0;
        padding-bottom: 24px;
        position: relative;
    }
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    position: relative;
    width: 100%;

    .icon-wrapper {
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        height: 24px;
        display: flex;
        align-items: center;
    }

    input {
        width: 100%;
        padding-left: 60px; 
        background-color: var(--color-background);
        font-weight: 500;
    }
}

.forgot-password {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    
    a {
        color: var(--color-purple1);
        font-size: 1rem;
    }
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
    width: 100%;

    .line {
        height: 1px;
        background-color: var(--color-light-purple-lines);
        flex: 1;
    }
}

.action-buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 10px;

    .large-btn {
        padding: 14px 32px;
        font-size: 1.1rem;
        margin: 0; 
    }
    
    button {
         min-width: 120px;
    }
}

.login-footer {
    display: flex;
    gap: 24px;
}