.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

.login-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-header {
  width: 100%;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
      height: 70px;
      width: auto;
  }

  .logo-text {
      font-size: 32px;
      font-weight: 700;
      color: var(--color-black);
  }
}

.signup-call {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: var(--color-black);

  a {
      color: var(--color-purple1);
      text-decoration: none;
      cursor: pointer;

      &:hover {
          color: var(--color-purple2);
      }
  }
}

.signup-call--mobile {
  display: none;
}

.login-card {
  background-color: white;
  padding: 45px 50px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.card-header {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  h1 {
      color: var(--color-purple1);
      font-size: 46px;
      font-weight: 700;
      margin: 0;
      padding-bottom: 24px;
  }
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  position: relative;
  width: 100%;

  .icon-wrapper {
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      height: 24px;
      display: flex;
      align-items: center;
      pointer-events: none;
  }

  input {
      width: 100%;
      padding: 18px 20px 18px 60px;
      background-color: var(--color-background);
      font-weight: 500;
      border: 1px solid transparent;
      border-radius: 30px;
      font-size: 16px;
      outline: none;

      &:focus {
          border-color: var(--color-purple1);
      }
  }
}

.forgot-password {
  display: flex;
  justify-content: center;
  margin-top: -5px;

  a {
      color: var(--color-purple1);
      font-size: 1rem;
      text-decoration: none;
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
  width: 100%;

  .line {
      height: 1px;
      background-color: var(--color-light-purple-lines);
      flex: 1;
  }
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 10px;

  &.right-aligned {
      justify-content: flex-end;
      width: 100%;
      margin-top: 30px;
  }
}

.google-btn {
  background-color: var(--color-background);

  &:hover {
      color: var(--color-purple1);
  }
}

.login-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px 0px;
  flex-shrink: 0;

  a {
      text-decoration: none;

      &:hover {
          text-decoration: underline;
      }
  }
}

.success-message {
  position: fixed;
  bottom: -100px;
  right: 50px;
  background-color: var(--color-purple1);
  color: white;
  padding: 25px 40px;
  border-radius: 30px 30px 0 30px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  z-index: 100;
  font-size: 1.2rem;

  animation: slideUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes slideUp {
  from {
      bottom: -100px;
      opacity: 0;
  }

  to {
      bottom: 50px;
      opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .intro-header {
      padding: 20px 40px;
      justify-content: flex-start;
  }

  .login-card {
      padding: 35px 20px;
  }

  .card-header {
      >h1 {
          font-size: 32px;
      }
  }

  .signup-call {
      display: none;
  }

  .signup-call--mobile {
      display: flex;
      padding: 2rem 0px;
      gap: 20px;

      >a {
          padding: 7px 18px;
          outline: 1px solid var(--color-purple2);
          border-radius: 25px;
      }
  }

  .action-buttons.right-aligned {
      margin-top: unset;
  }

  .action-buttons {
      gap: 15px;
  }

  main {
      padding: 0px 1rem;
  }
}