@import "../profile-view.scss";

.profile-card {
    position: unset;
    top: unset;
    right: unset;
    background-color: var(--color-white);
    border-radius: 30px 30px 30px 30px;
    z-index: 1001;
}

.status-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.status-text--online {
    font-size: 20px;
    color: var(--color-online-green);
}

.status-text--offline {
    font-size: 20px;
    color: var(--color-text-grey);
}

.statusicon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.statusicon.online {
    background-color: var(--color-online-green);
}

.statusicon.offline {
    background-color: var(--color-text-grey);
}