.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.backdrop {
    position: fixed;
    inset: 0;
    background: #000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease;
    z-index: 100;
}

.backdrop.show {
    opacity: 0.35;
    pointer-events: auto;
}

.layout {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 0 20px 20px 20px;

    .main-chat {
        flex: 1;
        background-color: var(--color-white);
        border-radius: 30px;
        position: relative;
    }
}

.sidebar-wrapper {
    width: 300px;
    flex: 0 0 auto;
    height: 100%;
    align-self: stretch;
    transition: width 250ms ease;
}

.sidebar-wrapper--closed {
    width: 0;

    app-sidebar,
    .sidebar {
        transform: translateX(-110%);
    }
}

.sidebar-toggle {
    position: absolute;
    bottom: 250px;
    left: 0;
    z-index: 10;
    border: 0;
    background: var(--color-white);
    cursor: pointer;
    padding: 20px 15px 20px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    transition: var(--transition-slow) ease;
}

.sidebar-toggle:hover {
    transform: translateX(-2px);
}

.sidebar-toggle__text {
    writing-mode: vertical-rl;
    font-size: 16px;
    transform: rotate(180deg);
    white-space: nowrap;
    font-weight: 600;
    color: var(--color-black);
}

.sidebar-toggle__icon {
    width: 20px;
    height: 20px;
    transform: rotate(-0deg);
    transition: var(--transition-slow) ease;
}

.sidebar-toggle__icon--closed {
    transform: rotate(180deg);
}