<div class="chat-container" #scrollContainer>
  <div class="messages">
    @for (item of chat.messages(); track item.id; let i = $index) {
    @if (item.senderId === firebaseService.currentUser()?.uid) {
    @if (shouldShowDateSeparator(i)) {
    <div class="time-seperator">
      <div class="line">
        <div class="day">
          {{ getDateSeparatorLabel(item.createdAt.toDate()) }}
        </div>
      </div>
    </div>
    }
    <div class="message-field-user">
      <span class="avatar">
        <img [src]="chat.users()[item.senderId]?.avatar" alt="Profilbild" class="avatar__img" />
      </span>

      <div class="message-info-container">
        <div class="message-info">
          <p class="text--regular bold message-name" (click)="showUserProfileService.setToTrue()">
            {{ chat.users()[item.senderId]?.firstName }}
            {{ chat.users()[item.senderId]?.lastName }}
          </p>
          <p class="time">{{ item.createdAt ? (item.createdAt.toDate() | date:'HH:mm') : '' }} Uhr</p>
        </div>

        <div class="message text--regular">{{ item.text }}</div>

        <div class="answer-container">
          @let reactions = item.reactions;

          @for (reaction of (reactions | keyvalue); track reaction.key) {
          <div class="reactions">
            <div class="fast-emoji">
              <span class="emoji-symbol">{{ reaction.key }}</span>

              <div class="emoji-qantity">
                {{ reaction.value.length }}
              </div>

              <div class="userReaction">
                <span class="emoji-symbol">{{ reaction.key }}</span>

                @for (uid of reaction.value; track uid) {
                <div>
                  <span class="text--regular bold">
                    {{ chat.users()[uid]?.firstName }}
                    {{ chat.users()[uid]?.lastName }}
                  </span>
                  <p class="text--small">hat reagiert</p>
                </div>
                }
              </div>
            </div>
          </div>
          }
        </div>
      </div>

      <div class="reaction-bar">
        <div (click)="chat.toggleReaction(item.id!, '✅')" class="reaction-emoji">
          <img src="/chat-input/check-emoji.svg" alt="">
        </div>
        <div class="reaction-emoji">
          <img src="/chat-input/thumb-emoji.svg" alt="">
        </div>
        <app-emoji-picker (emojiSelected)="toggleSelectedEmoji(item.id!, $event)"></app-emoji-picker>
        <button class="icon-btn" type="button" aria-label="Sentiment">
          <img class="icon-btn__img" src="/chat-input/comment.svg" alt="" />
        </button>
        <button class="icon-btn" type="button" aria-label="Sentiment" (mouseenter)="setEditMsgHoverdTrue()"
          (mouseleave)="setEditMsgHoverdFalse()">
          <img class="icon-btn__img" src="/chat-input/edit.svg" alt="" />
          @if(isEditMsgHoverd){
          <div class="edit-msg-field">
            <span (click)="setItemToEdit(item.id!)" class="edit-msg">Nachricht
              bearbeiten</span>
          </div>
          }
        </button>
      </div>
    </div>

    } @else {

    <div class="message-field-other">
      <span class="avatar">
        <img [src]="chat.users()[item.senderId]?.avatar" alt="Profilbild" class="avatar__img" />
      </span>

      <div class="message-info-container">
        <div class="message-info">
          <p class="text--regular bold message-name"
            (click)="displayForeignUserService.setSelectedUser(chat.users()[item.senderId]); displayForeignUserService.toggle();">
            {{ chat.users()[item.senderId]?.firstName }}
            {{ chat.users()[item.senderId]?.lastName }}
          </p>
          <p class="time">{{ item.createdAt ? (item.createdAt.toDate() | date:'HH:mm') : '' }} Uhr</p>
        </div>

        <div class="message text--regular">{{ item.text }}</div>

        <div class="answer-container">
          <div class="thread-answer">
            <p (click)="openThread(item)" class="answers">2 Antworten</p>
            <p class="time">Letzte Antwort 14:56</p>
          </div>

          <div class="reactions">
            <div class="fast-emoji">
              <img src="/chat-input/check-emoji.svg" alt="">
              <div class="emoji-qantity">1</div>
            </div>
          </div>
        </div>
      </div>

      <div class="reaction-bar-other">
        <div class="reaction-emoji">
          <img src="/chat-input/check-emoji.svg" alt="">
        </div>
        <div class="reaction-emoji">
          <img src="/chat-input/thumb-emoji.svg" alt="">
        </div>
        <app-emoji-picker (emojiSelected)="toggleSelectedEmoji(item.id!, $event)"></app-emoji-picker>
        <button class="icon-btn" type="button" aria-label="Sentiment">
          <img class="icon-btn__img" src="/chat-input/comment.svg" alt="" />
        </button>
      </div>
    </div>

    }
    } @empty {
    @if (this.chat.otherUser()){
    <div class="empty-chat-info">
      <div class="user-info">
        <span class="avatar" (click)="clickOnUser()">
          <img [src]="this.chat.otherUser()?.avatar" alt="" class="avatar__img"
            (error)="$event.target.src='/shared/profile-pics/unkown-user.svg'" />
        </span>
        <h4 (click)="clickOnUser()">
          {{ this.chat.otherUser()?.firstName }} {{ this.chat.otherUser()?.lastName }}</h4>
      </div>

      <p>Diese Unterhaltung findet nur zwischen <span class="user-tag-inChat" (click)="clickOnUser()">@{{
          this.chat.otherUser()?.firstName }} {{ this.chat.otherUser()?.lastName }}</span> und dir statt</p>
    </div>
    }

    }
  </div>
  <div #bottomAnchor></div>
</div>



<!-- <div class="message-field-other">
    <span class="avatar">
        <img src="/shared/profile-pics/profile-pic4.svg" alt="Profilbild" class="avatar__img" />
    </span>
    <div class="message-info-container">
        <div class="message-info">
            <p class="text--regular bold message-name">Noah Braun</p>
            <p class="time">14:25</p>
        </div>
        <div class="message text--regular">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi aperiam
            porro nostrum asperiores quisquam recusandae eum doloribus facere alias ducimus! Tenetur iure atque impedit,
            excepturi illo incidunt. Quasi, nesciunt expedita!</div>
        <div class="answer-container">
            <div class="thread-answer">
                <p (click)="openThread()" class="answers">2 Antworten</p>
                <p class="time">Letzte Antwort 14:56</p>
            </div>
            <div class="reactions">
                <div class="fast-emoji">
                    <img src="/chat-input/check-emoji.svg" alt="">
                    <div class="emoji-qantity">1</div>
                </div>
            </div>
        </div>
    </div>
    <div class="reaction-bar-other">
        <div class="reaction-emoji">
            <img src="/chat-input/check-emoji.svg" alt="">
        </div>
        <div class="reaction-emoji">
            <img src="/chat-input/thumb-emoji.svg" alt="">
        </div>
        <button class="reaction-emoji icon-btn" type="button" aria-label="Sentiment">
            <img class="icon-btn__img" src="/chat-input/add-reaction.svg" alt="" />
        </button>
        <button class="icon-btn" type="button" aria-label="Sentiment">
            <img class="icon-btn__img" src="/chat-input/comment.svg" alt="" />
        </button>
    </div>
</div> -->

<!-- chat.component.html -->
<!-- <div *ngFor="let msg of chatService.messages()">
  <div [class.own]="msg.senderId === chat.currentUserId">
    <p>{{ msg.text }}</p>
    <small>{{ msg.createdAt?.toDate() | date:'shortTime' }}</small>
  </div>
</div> -->