.sidebar {
  width: 300px;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 30px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.sidebar-toggle {
  position: absolute;
  left: 0;
  bottom: 100px;
  transform: translateX(-100%);
  background-color: var(--color-white);
  padding: 10px 10px 20px 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);
  transition: all var(--transition-normal);

  &:hover {
    color: var(--color-purple1);

    .sidebar-toggle__icon {
      filter: brightness(0) saturate(100%) invert(26%) sepia(61%) saturate(5427%) hue-rotate(236deg) brightness(98%) contrast(92%);
      transform: rotate(90deg) scale(1.1);
    }
  }
}

.sidebar-toggle__text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  font-weight: 500;
}

.sidebar-toggle__icon {
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
  transition: transform var(--transition-fast);
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workspace {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.workspace__logo {
  width: 50px;
  height: 50px;
}

.workspace__name {
  color: var(--color-black);
  font-weight: 700;
  font-size: 1.5rem;
}

.arrow-icon {
    width: 12px !important;  
    height: 12px !important;
    transition: transform 0.2s ease-in-out;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.collapsed {
  display: none !important;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-fast);
  cursor: pointer;

  &:hover {
    background-color: var(--color-background);
  }
}

.icon-btn__img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.list__item:hover .icon-btn__img,
.icon-btn:hover .icon-btn__img,
.section__title:hover .icon-btn__img,
.list__item--add:hover .icon-btn__img {
  filter: brightness(0) saturate(100%) invert(26%) sepia(61%) saturate(5427%) hue-rotate(236deg) brightness(98%) contrast(92%);
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-y: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section__title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.section__title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  cursor: pointer;
  transition: color var(--transition-fast);

  &:hover {
    color: var(--color-purple1);
  }
}

.section__label {
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 20px;
  border-radius: 30px;
  color: var(--color-black);
  background: transparent;
  transition: all var(--transition-fast) ease-in-out;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: var(--color-background);
    color: var(--color-black);
    font-weight: 700;
  }
}

.list__item--active {
  background-color: var(--color-background);
  color: var(--color-purple3) !important;
  font-weight: 700;

  .hash {
    color: var(--color-purple3);
  }
}

.list__item--add {
  padding-left: 20px;
  gap: 16px;
  background: transparent;

  &:hover {
    background-color: transparent !important;
    color: var(--color-purple1);
  }
}

.hash {
  font-weight: 900;
  font-size: 1.5rem;
  width: 40px;            
  height: 40px;          
  display: flex;          
  align-items: center;    
  justify-content: center;
  flex-shrink: 0;         
}

.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.avatar__img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
