h3 {
    color: var(--color-purple1);
}

main {
    background-color: var(--color-white);
    padding: 48px 56px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 2px 10px color-mix(in srgb, var(--color-black), transparent 92%);
}

p {
    padding: 8px 4px;
}