.position {
    display: flex;
    height: 100vh;
    align-items: safe center;
    position: relative;
    overflow-y: auto
}

.logo-wrapper {
    position: absolute;
    top: 25px;
    left: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;

    >h2 {
        font-size: 32px;
        font-weight: 800;
        color: var(--color-black);
    }

    >img {
        width: 70px;
        height: auto;
    }
}

h3 {
    color: var(--color-purple1);
}

main {
    background-color: var(--color-white);
    margin: 100px 16px;
    padding: 48px 56px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 2px 10px color-mix(in srgb, var(--color-black), transparent 92%);
}

.go-back-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    &:hover {
        background-color: var(--color-background);
        cursor: pointer;
    }

    >img {
        width: 24px;
        height: 24px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(26%) sepia(61%) saturate(5427%) hue-rotate(236deg) brightness(98%) contrast(92%);
        }
    }
}

p {
    padding: 8px 4px;
}

@media screen and (max-width: 500px) {
    main {
        padding: 32px 16px;
        border-radius: unset;
        margin: unset;
        margin-top: 100px;
    }
}