.avatar {
    display: flex;
    //   position: absolute;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    //   top: 0;
}

.avatar__img {
    border-radius: 100%;
    object-fit: cover;
}

.message-field-other {
    padding-left: 20px;
    position: relative;
    display: flex;
}

.message-name {
    max-width: 200px;
}

.message-info {
    display: flex;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px 30px 0px 0px;
    padding: 32px 24px;
    box-shadow: 0px 2px 10px 0px color-mix(in srgb, var(--color-black), transparent 92%);
}

.message{
    background-color: var(--color-background);
    border-radius: 30px;
    border-top-left-radius: 0px;
    padding: 15px;
}