.avatar {
    display: flex;
    //   position: absolute;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    //   top: 0;
}

.avatar__img {
    border-radius: 100%;
    object-fit: cover;
}

.message-field-other {
    padding: 10px 100px 10px 45px;
    position: relative;
    display: flex;
    gap: 30px;
    &:hover {
        background-color: var(--color-background);
        .message {
            background-color: var(--color-white);
        }
        .reaction-bar-other {
            opacity: 1;
            transform: translateX(-20px);
        }
    }
}

.reaction-bar-other{
    @extend .reaction-bar;
    left: unset !important;
    right: 20px;
}

.message-name {
    // max-width: 200px;
    &:hover {
        color: var(--color-purple1);
        cursor: pointer;
    }
}

.message-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.message {
    background-color: var(--color-background);
    border-radius: 30px;
    border-top-left-radius: 0px;
    padding: 15px;
}

.message-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .time {
        font-size: 14px;
        justify-content: flex-end;
        color: var(--color-text-grey);
    }
}

.answer-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.answers {
    color: var(--color-purple3);
    cursor: pointer;
    &:hover {
        font-weight: 700;
    }
}

.message-field-user {
    padding: 10px 40px 10px 100px;
    position: relative;
    display: flex;
    gap: 30px;
    &:hover {
        background-color: var(--color-background);
        .message {
            background-color: var(--color-white);
        }
        .reaction-bar {
            opacity: 1;
            transform: translateX(-20px);
        }
    }
    .avatar {
        order: 2;
    }
    .message-info-container {
        .message-info {
            justify-content: flex-end;
            .message-name {
                order: 2;
            }
        }
        .message {
            background-color: var(--color-purple2);
            color: var(--color-white);
            border-radius: 30px;
            border-top-right-radius: 0px;
        }
    }
}

.time-seperator {
    display: flex;
    justify-content: center;
    .line {
        margin-top: 25px;
        margin-bottom: 25px;
        position: relative;
        width: 90%;
        border: 1px solid var(--color-light-purple-lines);
        .day {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: var(--color-white);
            height: 35px;
            padding: 5px 15px 5px 15px;
            width: fit-content;
            border: 1px solid var(--color-light-purple-lines);
            border-radius: 30px;
            top: -17.5px;
            right: 45%;
        }
    }
}

.reaction-bar{
    padding: 3px 15px 3px 20px;
    opacity: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    // height: 46px;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-purple-lines);
    border-radius: 25px 25px 0px 25px;
    top: -20px;
    left: 72px;
    transition: all var(--transition-slow) ease-in-out;
}

.reaction-emoji {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: var(--color-background);
        scale: 1.1;
    }
}
