<header>
    <h4>Chat Headline</h4></header>

<div class="message-field-other">
    <span class="avatar">
        <img src="/shared/profile-pics/profile-pic1.svg" alt="Profilbild" class="avatar__img" />
    </span>
    <div class="message-info-container">
        <div class="message-info">
            <p class="text--regular bold message-name">Noah Braun</p>
            <time datetime="">14:25</time>
        </div>
        <div class="message text--regular">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi aperiam porro nostrum asperiores quisquam recusandae eum doloribus facere alias ducimus! Tenetur iure atque impedit, excepturi illo incidunt. Quasi, nesciunt expedita!</div>
    </div>
</div>