@import "./fonts.css";

* {
    margin: 0;
    box-sizing: border-box;
    border: unset;
    line-height: 120%;
    font-family: "Nunito", Verdana, sans-serif;
}

body {
    background-color: var(--color-background);
}

:root {
    scroll-behavior: smooth;
    --transition-fast: 75ms;
    --transition-normal: 100ms;
    --transition-slow: 125ms;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-background: #eceefe;
    --color-light-purple-lines: #adb0d9;
    --color-text-grey: #686868;
    --color-email: #1381FF;
    --color-purple1: #444df2;
    --color-purple2: #797ef3;
    --color-purple3: #535af1;
    --color-menu-color: #42526E;
    --color-online-green: #92c83e;
    --color-rosa-error: #ed1e79;
}

a {
    text-decoration: none;
    color: var(--color-purple2);

    &:hover {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.btn--primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 25px;
    color: var(--color-white);
    background-color: var(--color-purple1);
    transition: all var(--transition-fast) ease-in-out;
    gap: 10px;

    &:hover {
        background-color: var(--color-purple2);
        cursor: pointer;
    }

    &:active {
        background-color: var(--color-purple1);
    }

    &:disabled {
        background-color: var(--color-text-grey);
        pointer-events: none;
    }
}

.btn--secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 25px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    background-color: var(--color-white);
    color: var(--color-purple1);
    outline: 1px solid var(--color-purple2);
    transition: all var(--transition-fast) ease-in-out;
    gap: 10px;

    &:hover {
        color: var(--color-white);
        outline: unset;
        background-color: var(--color-purple3);
        cursor: pointer;
    }

    &:active {
        outline: unset;
        color: var(--color-white);
        background-color: var(--color-purple1);
    }

    &:disabled {
        outline: 1px solid var(--color-text-grey);
        color: var(--color-text-grey);
        pointer-events: none;
        background-color: var(--color-white);
    }
}

@media screen and (max-width: 1024px) {

    .btn--primary,
    .btn--secondary {
        padding: 12px 25px;
        border-radius: 25px;
    }
}

// h1 nur für Anfangsanmiation
h1 {
    font-size: 4.5rem; // 72px
    font-weight: bold;
    color: var(--color-white);
}

h2 {
    font-size: 2.875rem; // 46px
    font-weight: bold;
    color: var(--color-purple1);
}

h3 {
    font-size: 2rem; // 32px
    font-weight: bold;
}

h4 {
    font-size: 1.5rem; // 24px
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3.5rem; // 56px 
    }

    h2 {
        font-size: 2rem; // 32px
    }

    h3 {
        font-size: 1.625rem; // 26px 
    }

    h4 {
        font-size: 1.25rem; // 20px
    }
}

.text--big {
    font-size: 1.25rem; // 20px
    font-weight: 400;
}

.text--regular {
    font-size: 1.125rem; // 18px
    font-weight: 400;
}

.text--small {
    font-size: 1rem; // 16px
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.inputfield--login {
    padding: 18px 32px;
    border-radius: 100px;
    color: var(--color-text-grey);
    background-color: var(--color-background);
    transition: all var(--transition-fast) ease-in-out;

    &:hover {
        outline: 1px solid var(--color-text-grey);
        color: var(--color-text-grey);
        cursor: pointer;
    }

    &:focus {
        outline: 1px solid var(--color-purple3);
        color: var(--color-black);
        cursor: text;
    }
}

.inputfield--dialogs {
    border-radius: 40px;
    padding: 18px 20px;
    outline: 1px solid var(--color-light-purple-lines);

    &:hover {
        outline: 1px solid var(--color-purple2);
        cursor: pointer;
    }

    &:focus {
        outline: 1px solid var(--color-purple3);
        color: var(--color-black);
        cursor: text;
    }
}


.close-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
        background-color: var(--color-background);
        cursor: pointer;
    }

    &:hover img {
        filter: brightness(0) saturate(100%) invert(26%) sepia(61%) saturate(5427%) hue-rotate(236deg) brightness(98%) contrast(92%);
    }

    >img {
        width: 100%;
        height: auto;
    }
}

.status {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.status--online {
    background-color: var(--color-online-green);
}

.status--offline {
    background-color: var(--color-text-grey);
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-fast);
    cursor: pointer;

    &:hover {
        background-color: var(--color-background);
        scale: 1.1;
    }
}

.icon-btn__img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.list__item:hover .icon-btn__img,
.icon-btn:hover .icon-btn__img,
.section__title:hover .icon-btn__img,
.list__item--add:hover .icon-btn__img {
    filter: brightness(0) saturate(100%) invert(26%) sepia(61%) saturate(5427%) hue-rotate(236deg) brightness(98%) contrast(92%);
}

app-message-composer {
    padding: 40px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.2s ease-in-out;
}

.modal {
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 30px;
    width: fit-content;
    max-width: 870px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 0;
        color: var(--color-black);
        font-size: 24px;
    }

    .icon-btn {
        height: 48px;
        width: 48px;

        &__img {
            height: 32px;
            width: 32px;
        }
    }
}

.modal__desc {
    color: var(--color-text-grey);
    margin-bottom: 10px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.error-message {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 0px;
    opacity: 1;
    transition: var(--transition-fast);
    min-height: 30px;
    >span {
        color: var(--color-rosa-error);
    }
}

.invisible {
    opacity: 0;
    min-height: 30px;
}