<div class="login-wrapper">
    <header class="intro-header">
        <div class="logo-container">
            <img src="/shared/dabubble-logo.svg" alt="DABubble Logo">
            <span class="logo-text">DABubble</span>
        </div>
    </header>
    <main class="login-main">
        <section class="login-card">
            <header class="card-header">
                <div class="card-title">
                    <div class="close-btn" routerLink="/login">
                        <img src="login/arrow-back.svg" alt="">
                    </div>
                    <h2>Passwort zurücksetzen</h2>
                </div>
            </header>
            <div class="error-message" *ngIf="errorMessage">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2">
                    <circle cx="12" cy="12" r="10" />
                    <line x1="12" y1="8" x2="12" y2="12" />
                    <line x1="12" y1="16" x2="12.01" y2="16" />
                </svg>
                <span>{{ errorMessage }}</span>
            </div>
            <form class="login-form">
                <div class="input-group">
                    <div class="icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#686868" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="20" height="16" x="2" y="4" rx="2" />
                            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                        </svg>
                    </div>
                    <input name="new-password" [ngModel]="pw1()" (ngModelChange)="pw1.set($event)" type="password"
                        placeholder="Neues Passwort" class="inputfield--login full-width" (blur)="validatePw1()">
                </div>
                <div class="input-group">
                    <div class="icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#686868" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="20" height="16" x="2" y="4" rx="2" />
                            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                        </svg>
                    </div>
                    <input name="confirm-password" [ngModel]="pw2()" (ngModelChange)="pw2.set($event)" type="password"
                        placeholder="Neues Passwort bestätigen" class="inputfield--login full-width"
                        (blur)="validatePw2()">
                </div>
                <div class="btn-wrapper">
                    <button type="submit" class="btn--primary large-btn" (click)="save()"
                        [disabled]="pw1() !== pw2() || pw1().length < 6 || isSubmitDisabled">Passwort ändern</button>
                </div>
            </form>
        </section>
    </main>
    <footer class="login-footer">
        <a routerLink="/imprint" class="text--regular link-grey">Impressum</a>
        <a routerLink="/privacy-policy" class="text--regular link-grey">Datenschutz</a>
    </footer>

    <div class="success-message" *ngIf="showSuccessMessage">
        <span class="text--big bold">Anmelden</span>
    </div>
</div>