@import './../message-list/message-list.scss';

.thread {
    min-width: 400px;
    width: 26vw;
    max-width: 600px;
    height: calc(100vh - 110px);
    background-color: var(--color-white);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all var(--transition-slow) ease-in-out;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px 30px 0px 0px;
    padding: 32px 24px;
    box-shadow: 0px 2px 10px 0px color-mix(in srgb, var(--color-black), transparent 92%);
}

.header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    >span {
        color: var(--color-purple2);
    }
}

h4 {
    font-weight: bold;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 180px;
    scrollbar-width: thin;
}

.chat-messages__separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 1rem 33px;
    color: var(--color-light-purple-lines);

    >span {
        text-wrap-mode: nowrap;
    }
}

.separator__line {
    width: 100%;
    height: 1px;
    border: 1px solid var(--color-light-purple-lines);
}

// messages

.message-field-other {
    padding: 10px 40px;
    gap: 20px;
}

.message-field-user {
    padding: 10px 40px;
    gap: 20px;
}