.thread {
    width: 20vw;
    min-width: 310px;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px 30px 0px 0px;
    padding: 32px 24px;
    box-shadow: 0px 2px 10px 0px color-mix(in srgb, var(--color-black), transparent 92%);
}

.header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    >span {
        color: var(--color-purple2);
    }
}

h4 {
    font-weight: bold;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
}

.chat-messages__separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    >span {
        text-wrap-mode: nowrap;
    }
}

.separator__line {
    width: 100%;
    height: 1px;
    border: 1px solid var(--color-light-purple-lines);
}