<aside class="thread">
    <header>
        <div class="header__content">
            <h4>Thread</h4>
            <span>#</span>
            <span>Entwicklerteam</span>
        </div>
        <div class="close-btn">
            <img src="/main-page/close-button.svg" alt="">
        </div>
    </header>
    <section class="chat-messages">
        <!-- chatcomponente fremd component here -->
        <div class="chat-messages__separator">
            <span>2 Antworten</span>
            <div class="separator__line"></div>
        </div>
        <!-- chatcomponente fremd component here -->
        <!-- chatcomponente selber component here -->
    </section>
    <section>
        <!-- inputfield component here -->
    </section>

</aside>